<mat-toolbar class="fixed-top bg-primary">  
  <button mat-raised-button color="primary" class="mr-5">Dashboard</button>
  <button mat-raised-button color="link" [matMenuTriggerFor]="animals"><mat-icon>menu</mat-icon></button>
  <span class="example-space"></span>
  <button mat-raised-button (click)="openBottomSheet()">Open file</button>
</mat-toolbar>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="admintration">Admintration</button>
  <button mat-menu-item [matMenuTriggerFor]="contacts">Contacts</button>
  <button mat-menu-item [matMenuTriggerFor]="setup">Setup</button>
  <button mat-menu-item [matMenuTriggerFor]="inventory">Inventory</button>
  <button mat-menu-item [matMenuTriggerFor]="transaction">Transaction</button>
  <button mat-menu-item [matMenuTriggerFor]="expenses">Expenses</button>
  <button mat-menu-item >Report</button>
</mat-menu>

<mat-menu #admintration="matMenu">
  <button mat-menu-item>Company Information</button>
  <button mat-menu-item>Showroom Information</button>
  <button mat-menu-item>Role Information</button>
  <button mat-menu-item>User Information</button>
  <button mat-menu-item>Report Permission</button>
  <button mat-menu-item>Change Password</button>
  <button mat-menu-item>Bank Account Information</button>
</mat-menu>

<mat-menu #contacts="matMenu">
    <button mat-menu-item>Employee Information</button>
    <button mat-menu-item>Vendor Information</button>
    <button mat-menu-item>Customer Information</button>
  </mat-menu>

<mat-menu #setup="matMenu">
  <button mat-menu-item>Bank Information</button>
  <button mat-menu-item>Unit Type</button>
  <button mat-menu-item>Return Reason</button>
</mat-menu>

<mat-menu #inventory="matMenu">
  <button mat-menu-item>Items Information</button>
  <button mat-menu-item>Products Information</button>
</mat-menu>

<mat-menu #transaction="matMenu">
  <button mat-menu-item>Purchases Information</button>
  <button mat-menu-item>Sales Information</button>
  <button mat-menu-item>Purchases Due Information</button>
  <button mat-menu-item>Sales Due Information</button>
  <button mat-menu-item>Sales Return Information</button>
</mat-menu>

<mat-menu #expenses="matMenu">
  <button mat-menu-item>Cost Type</button>
  <button mat-menu-item>Cost Sub-Type</button>
  <button mat-menu-item>Expenses Entry</button>
  <button mat-menu-item>Employee Salary Advance</button>
  <button mat-menu-item>Employee Salary</button>
</mat-menu>