<div class="sidebar bg-dark">
  <div class="note-part p-3 mb-5">
    <textarea name="" id="" placeholder="Type your quick notes..." class="form-control mb-1" cols="30" rows="15"></textarea>
    <button mat-flat-button color="primary" class="float-right btn-block">Add note</button>
  </div>
  <div class="list-group">
    <button type="button" class="bg-secondary text-white list-group-item list-group-item-action">Company Information</button>
    <button type="button" class="bg-secondary text-white list-group-item list-group-item-action">Customers</button>
    <button type="button" class="bg-secondary text-white list-group-item list-group-item-action">Employees</button>
    <button type="button" class="bg-secondary text-white list-group-item list-group-item-action">Users</button>
  </div>
</div>
