<div class="row info-box">
  <div class="col-2">
    <div class="legend">
      <h3 class="text-primary">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-dark">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-secondary">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-danger">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-warning">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-success">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-info">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-link">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-muted">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-link">Total Cost</h3>
      <p class="text-lead">4,200 Tk.</p>
    </div>
  </div>
</div>